<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vrcorp.anekastatusv2">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"  />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="com.vrcorp.anekastatusv2.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logonew"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logonew"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>
        <activity android:name="com.vrcorp.anekastatusv2.CariActivity"></activity>
        <activity android:name="com.vrcorp.anekastatusv2.AboutActivity" />
        <activity android:name="com.vrcorp.anekastatusv2.FavActivity" />
        <activity android:name="com.vrcorp.anekastatusv2.DetailActivity" android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.vrcorp.anekastatusv2.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>